@model Exercises.Models.Data.Course

@{
    ViewBag.Title = "DeleteCourse";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Delete Course</h3>
        @Html.ActionLink("Return to List", "Courses", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.CourseId)
            <p>Are you sure that you wish to delete the course @Html.DisplayFor(m => m.CourseName)?</p>
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            @Html.ActionLink("Cancel", "Courses", "Admin", null, new { @class = "btn btn-sm btn-info" })
        }
    </div>
</div>     