
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Advanced Model Binding</h1>
        <p>Here are some advanced examples of using the model binder.</p>
        <ul style="list-style: none">
            <li>@Html.ActionLink("Check Box List", "CheckboxList", "Home")</li>
            <li>@Html.ActionLink("Custom Binder", "CustomModelBinder", "Home")</li>
        </ul>
    </div>
</body>
</html>
