
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Hello ASP.NET!</h1>
        <p>
            The current server date/time is @ViewBag.CurrentDateTime.ToString()
        </p>
    </div>
</body>
</html>
