
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to SG College Student Information System!</h2>
        <p>This system allows us to keep track of current student information, including major declarations and courses.</p>
        <p class="text-danger">This system is currently in beta.</p>
    </div>
</div>


