@model Exercises.Models.ViewModels.StudentVM
@{
    ViewBag.Title = "EditAddress";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h4>Student List</h4>
                <p>Address was updated Sucessfully.</p>
            </div>
        </div>
    </div>
</div>
